[submodule "libuiohook"]
	path = libuiohook
	url = https://github.com/thebigG/libuiohook.git
[submodule "mxe"]
	path = mxe
	url = https://github.com/thebigG/mxe.git
	branch = master
[submodule "miniaudio"]
	path = miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "clang-format-all"]
	path = clang-format-all
	url = git@github.com:thebigG/clang-format-all.git
