[submodule "libuiohook"]
	path = libuiohook
	url = https://github.com/thebigG/libuiohook.git
[submodule "mxe"]
	path = mxe
	url = git@github.com:thebigG/mxe.git
	branch = master
[submodule "jack2"]
	path = jack2
	url = git@github.com:thebigG/jack2.git
	branch = master
