# Prerequisites
*.d
*.AppImage
*appdir

# Object files
*.o
*.ko
*.obj
*.elf
*build*
build-Tasker*
Tasker/moc*
Tasker/ui*

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
#*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
#*.so
#*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
dist*

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Miscellaneous
.DS_Store
.swp

#Qt junk
Tasker.pro.*
Tasker_*
*.udb
Makefile
libs/Xhook/build-*
*.user
